<script src="{{site.url}}/js/three.js"></script>
<script src="{{site.url}}/js/OrbitControls.js"></script>
<script src="{{site.url}}/js/MTLLoader.js"></script>
<script src="{{site.url}}/js/OBJLoader.js"></script>

<script>
class Render3D {
	init(container_name, file_name, translate, rotate) {

		var container;
		var ambient, keyLight, fillLight, backLight;
	
		container = document.getElementById(container_name);
		this.camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
		this.camera.position.z = 5;
		this.scene = new THREE.Scene();
		ambient = new THREE.AmbientLight(0xffffff, 1.0);
		this.scene.add(ambient);
		keyLight = new THREE.DirectionalLight(new THREE.Color('hsl(30, 100%, 75%)'), 1.0);
		keyLight.position.set(-100, 0, 100);
	
		fillLight = new THREE.DirectionalLight(new THREE.Color('hsl(240, 100%, 75%)'), 0.75);
		fillLight.position.set(100, 0, 100);
	
		backLight = new THREE.DirectionalLight(0xffffff, 1.0);
		backLight.position.set(100, 0, -100).normalize();
	
		this.scene.add(keyLight);
		this.scene.add(fillLight);
		this.scene.add(backLight);
	
		var mtlLoader = new THREE.MTLLoader();
		var self = this;
		mtlLoader.load(file_name + '.mtl', function (materials) {
	
       		materials.preload();
	
//        materials.materials.default.map.magFilter = THREE.NearestFilter;
//        materials.materials.default.map.minFilter = THREE.LinearFilter;


		var objLoader = new THREE.OBJLoader();
		objLoader.setMaterials(materials);
       		//objLoader.setPath('assets/');
		objLoader.load(file_name + '.obj', function (object) {
				self.scene.add(object);
				if (translate) {
					object.translateX(translate[0]);
					object.translateY(translate[1]);
					object.translateZ(translate[2]);
				}
				if (rotate) {
					object.rotateX(rotate[0]);
					object.rotateY(rotate[1]);
					object.rotateZ(rotate[2]);
				}
        		});
	        });

		this.renderer = new THREE.WebGLRenderer();
		this.renderer.setPixelRatio(window.devicePixelRatio);
		this.renderer.setSize(window.innerWidth*0.8, window.innerHeight*0.8);
		this.renderer.setClearColor(new THREE.Color("hsl(0, 0%, 90%)"));
	
		container.appendChild(this.renderer.domElement);
	
		this.controls = new THREE.OrbitControls(this.camera, this.renderer.domElement);
		this.controls.enableDamping = true;
		this.controls.dampingFactor = 0.25;
		this.controls.enableZoom = true;

		window.addEventListener('resize', function() { self.onWindowResize(); }, false);
	}

	onWindowResize() {
		this.camera.aspect = (window.innerWidth/window.innerHeight);
		this.camera.updateProjectionMatrix();
		this.renderer.setSize(window.innerWidth*0.8, window.innerHeight*0.8);
	}

        animate() {
	    var self = this;
		requestAnimationFrame(function (ts) { self.animate(ts) });

            this.controls.update();

            this.render();
        }
 
	render() {
		var self = this;
		requestAnimationFrame(function () {self.render});
    		this.controls.update();
    		this.renderer.render(this.scene, this.camera);
	}

	constructor(container, file, translate, rotate) {
		let t = undefined
		let r = undefined
		if (translate) {
			t = translate.split(',').map(parseFloat);
		}
		if (rotate) {
			r = rotate.split(',').map(parseFloat);
		}

		this.init(container, file, t, r);
		this.animate();
	}
}
</script>
